*{
  margin: 0;
  padding: 0;
}
.hide-scroll {
  -ms-overflow-style: none;     /* IE, Edge */
  scrollbar-width: none;        /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
